<div class="container artirery">
	<h3>{{title}}</h3>
	
	<div class="row">
		<h4>{{place}}</h4>
			<p>{{intro}}
		       </p>
			<div class="col-md-6 col-sm-12">
				<img src={{image}} height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		
			
			<h5>{{hotel}}</h5>
				<p>
				{{description}}

			</p>
		</div>
	</div>




<div class="row">
		<h4>Day 2 Nairobi - Maasai Mara National Reserve</h4>
		<p>Leaving Nairobi after breakfast, you'll travel towards Kenya's fertile highlands and head down the Rift Escarpment on a road built by Italian prisoners of war during World War II. Look for the charming chapel they built at the foot of the escarpment. You'll pass the impressive Longonot earth satellite station as you head across the Valley to Narok, and then travel across acres of wheat and barley, before you reach the Maasai Mara and your lodge in time for lunch. There will be an afternoon game drive. Overnight at Mara Sopa Lodge on a full board basis.

		       </p>
			<div class="col-md-6 col-sm-12">
				<img src="images/intinery pics/maasai-mara.jpg" height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		
				
			<h5>Mara Sopa Lodge</h5>
				<p>
				The lodge is set in the Oloolaimutia Valley and built into the surrounding hillside landscape. The accent around the lodge is on the indigenous Maasai people and the fabulous wealth of wildlife, birdlife and natural flora seen in every direction. The lodge is luxuriously appointed with all the mod cons one would expect from a Sopa styled lodge in the bush. The bedrooms are spacious, the large pool has wonderful views and there’s evening wildlife films and CNN to enjoy during the down-time. All this ensures that your stay will be blissfully comfortable.

			</p>
		</div>
	</div>

		<div class="row">
		<h4>Day 3 Maasai Mara National Reserve</h4>
			<p>

				Early morning and afternoon game drives.

		       </p>
			<div class="col-md-6 col-sm-12">
				<img src="images/intinery pics/maasai-mara-2.jpg" height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		
			
			<h5>Mara Sopa Lodge</h5>
				<p>
                Overnight at Lodge on a full board basis.


			</p>
		</div>
	</div>

	<div class="row">
		<h4>Day 4 Maasai Mara – Lake Nakuru</h4>
			<p>

				Leaving the Maasai Mara after breakfast, you'll travel across the ‘breadbasket’ of Kenya, where acres of wheat and barley litter the landscape as you head north to Narok, the district headquarters of this part of Maasailand. Now travel across the vast plains on the floor of the Rift Valley, keeping an eye out for herds of giraffe and gazelle as you head up the Mau Escarpment, before arriving at Lake Nakuru. The waters here are often colored shimmering flamingo pink, from thousands of the beautiful birds lining its shores. After lunch at Lake Nakuru Lodge, depart for an afternoon game drive in Nakuru National Park before continuing to the lodge for dinner and overnight.
                Overnight at Lake Nakuru Lodge on a full board basis.


		       </p>
			<div class="col-md-6 col-sm-12">
				<img src="images/intinery pics/lake-nakuru.jpg" height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		
			
			<h5>Lake Nakuru Lodge</h5>
				<p>
                Lake Nakuru Lodge is situated in the heart of one of Kenya's most densely populated wetland National Parks, (Ramsar site) only two leisurely hours' drive from Nairobi, through beautiful forested uplands and passing a series of lakes. On the outskirts of the bustling market town of Nakuru lies a truly remarkable national park which has achieved international fame. Both black and white rhino are being given a new lease of life in this 188 sq km, fully-fenced park - and they are carefully protected. The present rhino population is over 50 and continuing to multiply. The Rothschilds giraffe is another rarity and the park has its fair share of buffalo, leopard, zebra, eland, waterbuck and lion. Lake Nakuru Lodge is in the south-east ecological niche of the park, with commanding views of the lake and the flamingos for which it is justly famous. Lush gardens surround the lodge and cottages. There is a good programme of activities and evening entertainment. 


			</p>
		</div>
	</div>

	<div class="row">
		<h4>Day 5 Lake Nakuru - Amboseli National Park</h4>
			<p>

				After an early breakfast you will depart with a picnic lunch, leaving the Rift Valley behind, you continue towards Nairobi and then head south towards Ol Tukai Lodge. Then proceed with afternoon game drive in the park enroute to the Amboseli arriving in the evening.
                Overnight at Ol Tukai Lodge on a full board basis.



		       </p>
			<div class="col-md-6 col-sm-12">
				<img src="images/intinery pics/amboseli.jpg" height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		
			
			<h5>Ol Tukai Lodge</h5>
				<p>
                Overnight at Ol Tukai Lodge on a full board basis.



			</p>
		</div>
	</div>
	<div class="row">
		<h4>Day 6 Amboseli National Park</h4>
			<p>

				Morning and afternoon game drives in Amboseli, returning to the lodge as the sun sets.
                Overnight at Lodge on a full board basis.




		       </p>
			<div class="col-md-6 col-sm-12">
				<img src="images/intinery pics/amboseli-2.jpg" height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		
			
			<!-- <h5>Ol Tukai Lodge</h5> -->
				<p>
                Overnight at Lodge on a full board basis.



			</p>
		</div>
	</div>

	<div class="row">
		<h4>Day 7 Amboseli – Nairobi</h4>
			<p>

				Following an early breakfast, you’ll catch your last views of the majestic Mount Kilimanjaro as you depart Amboseli viewing game en route to the border of the park. From here turn west to the colorful border town of Namanga, where you will find some unique Maasai beadwork. 



		       </p>
			<div class="col-md-6 col-sm-12">
				<img src="images/intinery pics/amboseli-4.jpg" height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		
			
			<!-- <h5>Ol Tukai Lodge</h5> -->
				<p>
               Then turn north along a good tarmac road across the beautiful and seemingly never ending Athi Plains, arriving in Kenya's bustling capital city of Nairobi by mid-day.



			</p>
		</div>
	</div>

	
</div>
<our-terms></our-terms>