<section class="container">

	<div class="contact-us">
		<p><a ui-sref="home">Home</a>&nbsp;&gt;&nbsp;Contact Us</p>

		<h3>Contact Us</h3>
<!-- 
		<!-- www.123contactform.com script begins here -->
<!-- www.123contactform.com script begins here -->
<div class="col-md-8 col-sm-12">
<iframe allowTransparency="true"
 style="min-height:300px; height:inherit; overflow:auto;" 
width="90%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0"
 frameborder="0" src="http://www.123contactform.com/my-contact-form-3001825.html">
<p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p>
</iframe>
<!-- 
<p>Powered by <a class="footerLink13" title="123ContactForm" href="http://www.123contactform.com">123ContactForm</a>&nbsp;|&nbsp; -->
	<a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123contactform.com/sfnew.php?s=123contactform-52&control119314=http:///contact-form--3001825.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p><!-- www.123contactform.com script ends here -->
			</div>
	<div class="col-md-4 col-sm-12 social">
		<h4>Quick links</h4>
	<div><a href="https://twitter.com/SOJOURNKENYA" target="blank"><img src="images/social-media/twitter2.png" height="50px" width="50px"></div>
	<div><a href="https://www.facebook.com/SojournAfricaTours/" target="blank"><img src="images/social-media/facebook2.png" height="50px" width="50px""></div>
	<div><a href="mailto:smuthee90@gmail.com?Subject=Booking" target="_top"> <img src="images/social-media/email.png" height="50px" width="50px"></div>
	</div>
</section>