<div class="container">

<p><a ui-sref="home">Home</a>&nbsp;&gt;&nbsp;Itinerary</p>


<div class="artirery row " ng-repeat="(k,v) in dataset" >

   
	<h3> {{v.Package}}</h3>

		<h4>{{v.Place}}</h4>
			<p>{{v.Intro}}</p>
			<div  class="col-md-6 col-sm-12">
				<img ng-if="isThereImage(k)" src={{v.image}} height="250" width="500">
			</div>

			<div class="col-md-6 col-sm-12">
		     <h5>{{v.hotel}}</h5>
				<p> {{v.Description}} </p>
			</div>
		</div>

		<div class="contactus">
  <a ui-sref="contact-us">Book now</a>	
		</div>
	

</div>